<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
  <li><%= link_to "#{task.completed} #{task.id} - #{task.title}", "http://localhost:3000/tasks/#{task.id}" %></li>
  <% end %>
</ul>
<%= link_to "Add a new task", "http://localhost:3000/tasks/new" %>
