<h1>Congrats!</h1>
<p>You have made it to the tasks index page.</p>
<ul>
  <% @tasks.each do |task| %>
  <li><%= link_to "#{task.id} - #{task.title}", "http://localhost:3000/tasks/#{task.id}" %></li>
  <% end %>
</ul>
